@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
}

body{
   width: 100%;
  height: 100vh; 
  background-image: url("../src/ASSETS/5.jpg");
  background-color: rgba(81, 108, 159, 0.85); /* use rgba for fine adjustments */
  background-blend-mode: multiply;
  font-family: 'Indie Flower', cursive;
}

.navbar{
  background-color: #273347;
  height: 80px !important;
  

}

.navbar a{
  font-weight: 900;
  font-size: 40px;
  color: #d9d0d0 ; 
  text-shadow: 0px 0px 10px rgb(233, 151, 151);
}

.searchInput{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.searchButton{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #5d7192;
  border: none !important;
}

.card{
  background-color: rgba(59, 75, 133, 0.945) !important ;
  box-shadow: 0 0 8px 5px rgb(98, 81, 81) !important;
  font-family: 'Kalam', cursive !important;
  
}

.card:hover{
  background-color: rgba(142, 106, 68, 0.965) !important ;
}

.cards .header{
  font-family: 'Kalam', cursive !important;
  text-align: center !important;
}

.price{
 
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.857) !important;
}

#image{
  opacity: 0.8;
}

#image:hover{
  opacity:1;
}

